body {
  background-color: whitesmoke;
}

body,
html {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@500&family=Sedgwick+Ave&display=swap");

.flex-with-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.font-bold {
  font-weight: bold;
}

.n-box1 {
  background: #0f0f0f;
  box-shadow: 20px 20px 0px #060606, -20px -20px 0px #181818;
}

.n-box2 {
  border-radius: 50px;
  background: #f5f5f5;
  box-shadow: 5px 5px 0px #dadada, -5px -5px 0px #ffffff;
}
