* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@500&family=Sedgwick+Ave&display=swap");

.flex-with-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.font-bold {
  font-weight: bold;
}
