body,
html {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@500&family=Sedgwick+Ave&display=swap");

.flex-with-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.font-bold {
  font-weight: bold;
}

.n-box1 {
  background: #0f0f0f;
  box-shadow: 20px 20px 0px #060606, -20px -20px 0px #181818;
}
